{% extends "registration/_register_base.html" %}
{% load tailwind_filters %}

{% block title %}Sign Up{% endblock %}
{% block heading %}Sign Up{% endblock %}

{% block content %}
<form action="{% url 'signup' %}" method="POST">
    {% csrf_token %}
    {{form|crispy}}
    <input class="px-7 py-2 bg-green-400 hover:cursor-pointer hover:bg-green-300 rounded" type="submit" value="Signup">
    <input type="hidden" name="next" value={{next}}>
</form>
<p class="mt-4">
    <a class="block border-t pt-4 underline text-blue-500" href="{% url 'login' %}">Have an account? Login here.</a>
</p>
{% endblock content %}